@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap");

body {
    font-family: "Poppins", sans-serif;
}

.gradient-bg {
    background: linear-gradient(135deg, #16a34a 0%, #dfae26 100%);
}

.font-ekraf{
    font-family: Arial, Helvetica, sans-serif   ;
    font-weight: bold;
}

.service-card:hover {
    transform: translateY(-8px);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

/* Hero Image Animation */
.hero-image {
    animation: float 6s ease-in-out infinite;
}

@keyframes float {
    0%,
    100% {
        transform: translateY(0px);
    }

    50% {
        transform: translateY(-20px);
    }
}

/* Decorative circles */
.circle-decoration {
    position: absolute;
    border-radius: 50%;
    opacity: 0.1;
}

.circle-1 {
    width: 300px;
    height: 300px;
    background: white;
    top: -100px;
    right: -100px;
}

.circle-2 {
    width: 200px;
    height: 200px;
    background: white;
    bottom: -50px;
    left: -50px;
}

@media (min-width: 768px) {
    .margin-service {
        margin-top: 119px;
    }

}